.film-card {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  }
}
.film-card-poster {
  width: 280px;
  border-radius: 5px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    width: 224px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}
.film-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-linear-two);
  z-index: 10;
}

.film-card-textblock {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 100px;
  z-index: 11;
  @media screen and (min-width: 1280px) {
    bottom: 20px;
    left: 21px;
  }
}
.film-card-title {
  font-size: 12px;
  font-weight: 500;

  line-height: 1.67;

  color: #fff;
  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card-genre {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film-card-stars {
  position: absolute;
  bottom: 16px;
  right: 12px;

  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  @media screen and (min-width: 768px) {
    bottom: 20px;
    right: 20px;
  }

  z-index: 11;
  @media screen and (min-width: 1280px) {
    bottom: 24px;
    right: 20px;
  }

  .star,
  .star-half,
  .star-outline {
    width: 14px;
    height: 14px;
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 10px;
    }
    @media screen and (min-width: 1280px) {
      width: 18px;
      height: 18px;
    }
  }
}
.film-card img {
  transition: transform 0.3s ease;
}

.film-card:hover img {
  transform: scale(1.05);
}
