.checkbox {
  // visually hidden
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
%background-img-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 24px;
  @media screen and (max-width: 768px) {
    width: 44px;
    height: 18px;
  }

  display: inline-block;

  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 194px;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    height: 15px;
    width: 15px;
    @media screen and (max-width: 768px) {
      width: 10px;
      height: 10px;
    }

    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02604 7.77441C1.26766 11.1211 4.20061 13.8439 7.71076 13.9933C10.1873 14.0973 12.4021 12.9796 13.731 11.2185C14.2814 10.4972 13.9861 10.0163 13.0666 10.1788C12.6169 10.2568 12.1538 10.2893 11.6706 10.2698C8.38862 10.1398 5.704 7.48199 5.69058 4.34329C5.68386 3.49851 5.86508 2.69921 6.19394 1.9714C6.55637 1.16561 6.12012 0.782204 5.28117 1.12662C2.62339 2.21184 0.80456 4.80467 1.02604 7.77441Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    @extend %background-img-center;
  }
  &::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    height: 16px;
    width: 16px;
    @media screen and (max-width: 768px) {
      width: 10px;
      height: 10px;
    }
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 13C10.7614 13 13 10.7614 13 8C13 5.23858 10.7614 3 8 3C5.23858 3 3 5.23858 3 8C3 10.7614 5.23858 13 8 13Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.907 3.093L12.998 3.002M3.002 12.998L3.093 12.907M8 1.056V1M8 15V14.944M1.056 8H1M15 8H14.944M3.093 3.093L3.002 3.002M12.998 12.998L12.907 12.907' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    @extend %background-img-center;
  }
  .checkbox-label {
    position: relative;
    display: inline-block;
    z-index: 11;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

.slider {
  position: absolute;
  top: 3px;
  left: 3px;

  width: 18px;
  height: 18px;
  z-index: 10;
  @media screen and (max-width: 768px) {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
  }

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3518 2.64817C11.8304 -0.873235 6.13195 -0.884089 2.62393 2.62393C-0.884087 6.13195 -0.873233 11.8304 2.64817 15.3518C6.16958 18.8732 11.8681 18.8841 15.3761 15.3761C18.8841 11.8681 18.8732 6.16958 15.3518 2.64817Z' fill='white'/%3E%3Cpath d='M3.82352 3.57422C0.944573 6.65093 0.955378 11.6508 3.84766 14.7418' stroke='url(%23paint0_linear_261_31109)' stroke-width='1.2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_261_31109' x1='3.58183' y1='4.37218' x2='-0.224667' y2='5.2955' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFC226'/%3E%3Cstop offset='1' stop-color='%23F84119'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  @extend %background-img-center;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:checked + & {
    transform: translateX(36px) rotate(180deg);
    transform: translateX(36px) rotateY(180deg);
    @media screen and (max-width: 768px) {
      transform: translateX(26px) rotate(180deg);
    }
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.js-light-theme {
  background-color: var(--color-white);
}

.header-container {
  height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  font-weight: 500;
}

.js-light-theme {
  .header-nav-list {
    color: var(--color-grey-white-theme);
  }
}

.header-nav-list,
.logo-title {
  display: none;
}

.header-mobile-open-menu {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  cursor: pointer;
}
.js-light-theme {
  .header-mobile-open-menu {
    color: var(--color-grey-white-theme);
  }
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 0.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1),
    visibility 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.js-light-theme {
  .mobile-menu-backdrop {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  position: static;
  z-index: 2000;

  width: 204px;
  height: 100vh;
  background-color: #171717;
  color: #fff;

  padding-top: 8px;
  padding-left: 20px;

  border-radius: 0px 8px 8px 0px;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.25, 0.8, 0.25, 1) 250ms;
}

.js-light-theme {
  .mobile-menu {
    background-color: var(--color-secondary-text);
  }
}

.mobile-menu-backdrop.is-open .mobile-menu {
  transform: translateX(0);
}
.mobile-menu-logo {
  margin-bottom: 40px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.js-light-theme {
  .mobile-menu-list {
    color: var(--color-background);
  }
}

.current {
  color: var(--color-orange);
}

.no-scroll {
  overflow: hidden;
}

.tablet-logo {
  display: none;
}

///////////////////////////////////
@media screen and (min-width: 768px) {
  .header-container {
    height: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .tablet-logo {
    display: inline-block;

    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .mobile-logo,
  .header-mobile-open-menu {
    display: none;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;

    text-transform: uppercase;
  }
  .header-nav-list-item {
    transition: transform 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .header-nav-list-item:hover,
  .header-nav-list-item:focus {
    transform: scale(1.1);
  }
  .header-mobile-logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .js-light-theme {
    .logo-title {
      color: var(--color-secondary-black);
    }
  }
  .logo-title {
    display: block;

    font-size: 24px;
    line-height: 1.16;

    color: var(--color-white);
  }
}

//////////////////////////////////////////
@media screen and (min-width: 768px) {
  .header-nav-list {
    gap: 40px;
  }
}
