.star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='url(%23a)' d='M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='2.625' x2='13.876' y1='2.25' y2='17.25' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F84119'/%3E%3Cstop offset='1' stop-color='%23F89F19' stop-opacity='.68'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.star-half {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath stroke='url(%23a)' stroke-linejoin='round' d='M16.875 7.313h-6.047L9 1.688 7.172 7.313H1.125l4.922 3.375-1.899 5.624L9 12.797l4.852 3.515-1.899-5.625 4.922-3.374Z'/%3E%3Cpath fill='url(%23b)' d='M9 1.688v11.109l-4.852 3.515 1.899-5.625-4.922-3.374h6.047L9 1.688Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='3.049' x2='13.478' y1='2.733' y2='16.712' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F84119'/%3E%3Cstop offset='1' stop-color='%23F89F19' stop-opacity='.68'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='2.087' x2='12.151' y1='2.733' y2='9.477' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F84119'/%3E%3Cstop offset='1' stop-color='%23F89F19' stop-opacity='.68'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.star-outline {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath stroke='url(%23a)' stroke-linejoin='round' d='M16.875 7.313h-6.047L9 1.688 7.172 7.313H1.125l4.922 3.375-1.899 5.624L9 12.797l4.852 3.515-1.899-5.625 4.922-3.374Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='3.049' x2='13.478' y1='2.733' y2='16.712' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F84119'/%3E%3Cstop offset='1' stop-color='%23F89F19' stop-opacity='.68'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// .hero__stars {
//     height: 16px;
//     margin-bottom: 16px;
//   }
  
//   .hero__stars .star {
//     max-width: 23px;
//     max-height: 23px;
//   }