.hero-container {
  margin-bottom: 80px;
}
.swiper-container{
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide{
  position: relative;
 
}

:root {
  --swiper-pagination-bottom: 50px; /* Нове значення bottom */
}

:root {
  --swiper-theme-color: #F84119;
  --swiper-pagination-color: #F84119;
  --swiper-pagination-bullet-border-radius: 50%;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 18px; /* Нове значення ширини */
  --swiper-pagination-bullet-height: 18px; /* Нове значення висоти */
  --swiper-pagination-bullet-border-radius: 50%; /* Нове значення радіуса */
  --swiper-pagination-bullet-inactive-color: #FFC226; /* Новий колір фону для неактивного стану */
  --swiper-pagination-bullet-inactive-opacity: 0.5; /* Нова непрозорість для неактивного стану */
}


.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    bottom: 50px;
}

.swiper-pagination-bullet {
  border-radius: var(--swiper-pagination-bullet-border-radius);
  // width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  // height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  // background: var(--swiper-pagination-bullet-inactive-color, #000);
  // opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
  // display: inline-block;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  color: var(--swiper-pagination-color);
}



.hero_img {
  width: 100%;
  height: 660px;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -5;
  background-position-x: -50px;
  background-repeat: no-repeat;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 375px;
    left: 180px;
}
  @media screen and (max-width: 768px) {
    height: 375px;
    left: 0px;
}
  @media screen and (min-width: 1280px) {
      left: 340px;
      height: 660px;
  }
}

.image-overlay {
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.06deg, #111111 11.91%, rgba(17, 17, 17, 0) 73.11%);
  top: 0;
  left: 0;
  position: absolute;
}

.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 185%;
  height: 100%;
  background: linear-gradient(87.8deg,#111111 15.61%,rgba(14,14,14,0) 60.39%);
  z-index: -1;
}

.hero-block {
  position: absolute;
  @media screen and (min-width:320px) {
    width: 199px;
    height: 114px;
    left: 20px;
    top: 40px;
}
  @media screen and (min-width: 768px) {
  width: 295px;
  height: 64px;
  left: 32px;
  top: 52px;

}
@media screen and (min-width: 1280px) {
    width: 400px;
    height: 150px;
    left: 135px;
    top: 118px;
  }
}

.hero_star {
  @media screen and (min-width:320px) {
    margin-bottom: 17px;
}
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;

}
@media screen and (min-width: 1280px) {
  margin-bottom: 30px;
  }
}

.hero_first-title {
  @media screen and (min-width:320px) {
    width: 232px;
    font-size: 32px;
    line-height: 1.18;
}
@media screen and (min-width: 768px) {
    width: 445px;
    font-size: 44px;
    line-height: 1.18;
    margin-bottom: 13px;
}
@media screen and (min-width: 1280px) {
    width: 670px;
    margin-bottom: 18px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.17;
  }
}



.hero_discr {
  @media screen and (min-width:320px) {
    // width: 232px;
    // height: 114px;
    // top: 88px;
    // font-size: 32px;
    // line-height: 1.18;
}
@media screen and (min-width: 768px) {
    // width: 445px;
    // height: 104px;
    // top: 96px;
    // font-size: 44px;
    // line-height: 1.18;
}
@media screen and (min-width: 1280px) {
  margin-bottom: 36px;
  }
}

.hero_discr-api {
@media screen and (max-width: 768px) {
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
  }
}



