//================================ SELECT =============================================
.lib-select.js-lib-select {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--color-grey);
  background-color: var(--color-background);

  width: 173px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  overflow-y: auto;
  max-height: 264px;

  visibility: visible;

  // &.ss-main {
  //   .ss-arrow {
  //     border-color: var(--color-white);
  //   }
  //   .ss-single-selected {
  //     color: var(--color-white);
  //   }
  //   .ss-list {
  //     background-color: var(--color-background);
  //     border-color: var(--color-white);
  //   }
  //   .ss-option {
  //     color: var(--color-white);
  //   }
  //   .ss-option:hover {
  //     color: var(--color-orange);
  //   }
  //   .ss-selected {
  //     background-color: #f2f2f2;
  //   }
  // }
}

.lib-option.lib-spec {
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
  // color: var(--color-background);

  padding-bottom: 10px;
  padding-top: 13px;
  padding-left: 20px;
}

.lib-option:is(:hover, :focus) {
  color: var(--color-orange);
}

.lib-option.lib-spec:is(:hover, :focus) {
  color: var(--color-orange);
}

//===============================================================================

.lib-item-message {
  display: flex;
  flex-direction: column;
  // gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.liblist {
  padding-top: 44px;
}

.lib-load-more,
.lib-btn-search-movie {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--color-background);

  margin-top: 24px;
  // display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  border-color: transparent;
  border-radius: 74px;
  background: var(--color-linear-one);
  transition: bagckround linear 400ms, color linear 400ms,
    borler-color linear 400ms, box-shadow linear 400ms;
}

.lib-load-more:is(:hover, :focus),
.lib-btn-search-movie:is(:hover, :focus) {
  background: var(--color-white);
  color: var(--color-orange);
  border-color: var(--color-orange);
  box-shadow: 1px 1px 14px 4px #ff6b086b;
}

.js-lib-content-wrap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.lib-wrap-list {
  margin-top: 16px;
}

.lib-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.lib-error {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--color-white);
  text-align: center;

  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

//----------------- style for tablet -------------------------

@media screen and (min-width: 768px) {
  .liblist {
    padding-top: 60px;
  }
  .lib-select {
    min-width: 144px;
  }
  .lib-load-more,
  .lib-btn-search-movie {
    font-size: 14px;
    line-height: calc(16 / 14);

    margin-top: 40px;
  }
  .lib-wrap-list {
    margin-top: 36px;
  }
  .lib-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 28px;
  }
  .lib-error {
    font-size: 20px;
    line-height: calc(24 / 20);

    width: 439px;
  }
}

//---------------- style for desktop--------------------------

@media screen and (min-width: 1280px) {
  .liblist {
    padding-top: 80px;
  }
  .lib-wrap-list {
    margin-top: 48px;
  }
  .lib-select {
    visibility: visible;
  }
  .lib-list {
    column-gap: 15px;
    row-gap: 32px;
  }
  .lib-load-more,
  .lib-btn-search-movie {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
  .lib-error {
    font-size: 32px;
    line-height: calc(36 / 32);

    width: 584px;
  }
}

//  --------------------------------light theme--------------------------------------

.js-light-theme {
  .lib-select.js-lib-select {
    background-color: var(--color-white);
    color: var(--color-secondary-black);
    border-color: var(--color-orange);
    box-shadow: 1px 1px 24px 2px #01010173;
  }
  .lib-option.lib-spec {
    color: var(--color-background);
    // color: var(--color-secondary-text);
  }
  #library-filter.ss-arrow {
    stroke: black;
    fill: black;
  }
  .lib-error {
    color: var(--color-background);
  }
}
