.visually-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  margin: -1px;
}
//================================ SLIM-SELECT =============================================
.lib-select {
  //----color svg
  &.ss-main .ss-arrow path {
    stroke: var(--color-white);
    // border
  }
  //---bg
  &.js-lib-select {
    background-color: var(--color-background);
    width: 173px;
    max-height: 264px;

    border: 1px solid var(--color-white);
    border-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 10px;
  }
  //-----options
  &.ss-content .ss-list .ss-option {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #57575758;
    color: var(--color-secondary-text);
  }
  //-------hover on options
  &.ss-content .ss-list .ss-option:hover {
    color: var(--color-orange);
    background-color: transparent;
  }
  //-------on body option's
  &.ss-content.ss-open-below {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-orange);
    background-color: transparent;
  }
}
// .ss-content.lib-select.js-lib-select.lib-selector.ss-open-belowss-list {
//   overflow: auto;
//   scrollbar-width: thin;
//   scrollbar-color: hsl(0 0% 50%);
// }
.ss-main.lib-select.js-lib-select.lib-selector {
  padding-left: 20px;
  font-size: 14px;
  color: var(--color-grey);
}
//----------------------select / light theme------------
.js-light-theme {
  .lib-select {
    &.ss-main .ss-arrow path {
      stroke: var(--color-background);
    }
    //----text option
    &.ss-content .ss-list .ss-option {
      color: var(--color-background);
    }
    &.js-lib-select {
      background-color: var(--color-white);
      border: 1px solid var(--color-background);
      color: var(--color-secondary-black);
      box-shadow: 1px 1px 14px 4px #00000038;
    }
    //-------hover on options
    &.ss-content .ss-list .ss-option:hover {
      color: var(--color-orange);
    }
  }
}
// ss-option lib-option lib-spec ss-selected
//===============================================================================

.lib-item-message {
  display: flex;
  flex-direction: column;
  // gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.liblist {
  padding-top: 44px;
}

//----------------------------buttons--------------------
.lib-wrap-btn {
  margin-top: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 74px;
  background: var(--color-linear-one);
  transition: bagckround linear 400ms, color linear 400ms,
    bordler-color linear 400ms, box-shadow linear 400ms;

  .lib-load-more,
  .lib-btn-search-movie {
    padding: 12px 24px;

    width: 100%;
    border-radius: 74px;
    border-width: 2px;
    border-color: transparent;
    border-width: 1px;
    background-clip: padding-box;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(14 / 12);
    background-color: transparent;
    &:is(:hover) {
      background-color: white;
      color: var(--color-orange);
    }
  }
  &:is(:hover) {
    box-shadow: 1px 1px 14px 4px #ff6b086b;
  }
} //----------------------------------------------

.lib-relative {
  position: relative;
  padding-bottom: 62px;
}
.lib-wrap-btn {
  position: absolute;
  // display: block;
  bottom: 0px;
  right: 85px;
  z-index: 10;
}
// .lib-wrap-btn {
//   .lib-btn-search-movie {
//     ///
//   }
// }

//-----------------------------------------------
.js-lib-content-wrap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.lib-wrap-list {
  margin-top: 16px;
}

.lib-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.lib-error {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--color-white);
  text-align: center;

  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

//----------------- style for tablet -------------------------

@media screen and (min-width: 768px) {
  .liblist {
    padding-top: 60px;
  }
  .lib-select {
    min-width: 144px;
  }
  .lib-load-more,
  .lib-btn-search-movie {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
  .lib-wrap-btn {
    margin-top: 40px;
  }
  .lib-wrap-list {
    margin-top: 36px;
  }
  .lib-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 28px;
  }
  .lib-error {
    font-size: 20px;
    line-height: calc(24 / 20);

    width: 439px;
  }

  .lib-relative {
    padding-bottom: 92px;
  }
  .lib-wrap-btn {
    // position: absolute;
    bottom: 0px;
    right: 296px;
    z-index: 10;
  }
}

//---------------- style for desktop--------------------------

@media screen and (min-width: 1280px) {
  .liblist {
    padding-top: 80px;
  }
  .lib-wrap-list {
    margin-top: 48px;
  }
  .lib-select {
    visibility: visible;
  }
  .lib-list {
    column-gap: 15px;
    row-gap: 32px;
  }
  .lib-load-more,
  .lib-btn-search-movie {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
  .lib-error {
    font-size: 32px;
    line-height: calc(36 / 32);

    width: 584px;
  }

  .lib-wrap-btn {
    // position: absolute;
    bottom: 0px;
    right: 557px;
    z-index: 10;
  }
}

//  --------------------------------light theme--------------------------------------

.js-light-theme {
  .lib-error {
    color: var(--color-background);
  }
}
