//  ------------------------------------------------ BACKDROP ------------------------------------------------------

.is-hidden {
  display: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(24, 23, 23, 0.767);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 51;
  overflow: auto;

  &.is-hidden {
    transition: opacity 1000ms linear, visibility 300ms linear;
  }
}

// ---------------------------------------------- CONTAINER -------------------------------------------------------

// .modal-film {
//   width: 280px;
//   max-height: 847px;

//   @media screen and (min-width: 768px) {
//     transform: translate(-50%, -50%) scale(0.9);
//     top: 50%;
//     left: 50%;
//     min-width: 704px;
//     min-height: 488px;
//     padding: 44px;
//   }
//   @media screen and (min-width: 1200px) {
//     transform: translate(-50%, -50%) scale(0.9);
//     top: 50%;
//     left: 50%;
//     min-width: 846px;
//     min-height: 598px;
//     padding: 60px;
//     border-radius: 20px;
//   }
// }

.modal-film-container {
  padding: 52px 16px 64px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  width: 280px;
  height: 847px;

  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: flex-start;
  align-items: center;

  // z-index: 10;
  background-color: var(--color-background);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  text-align: left;

  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 488px;
    padding: 44px;
    // display: flex;

    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    width: 846px;
    height: 598px;
    padding: 60px;
    // display: flex;
  }
}

// ----------------------------------------------- ELEMENTS --------------------------------------------------------

.modal-attributes {
  display: flex;
  color: var(--color-grey);
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: nowrap;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.modal-attributes-data-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.modal-card-title,
.modal-card-data-get,
.modal-card-data-average {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-bottom: 14px;
  }
}

.modal-attributes-title-list {
  white-space: nowrap;
  margin-right: 62px;
}

@media screen and (min-width: 768px) {
  .modal-attributes-title-list li,
  .modal-attributes-data-list li {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 12px;
  }
}

.modal-card-data-average {
  display: flex;
}

.modal-card-average,
.modal-card-count {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  background-color: var(--color-white);
  border-radius: 5px;
  color: var(--color-background);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);
    padding: 1px 8px;
  }
}

.modal-card-average {
  padding: 1px 8px;
  margin-right: 4px;
}

.modal-card-count {
  padding: 1px 4px;
  margin-left: 4px;
}

.modal-card-data-get {
  color: var(--color-white);
  font-size: 14px;
  @media screen and (max-width: 767px) {
    max-height: 32px;
    width: auto;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}


//  ---------------------------------------------- IMAGE ---------------------------------------------------------

.modal-img {
  width: 248px;
  height: 315px;
  margin-bottom: 22px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 294px;
    height: 400px;
    margin: 0 16px 0 0;
  }

  @media screen and (min-width: 1200px) {
    width: 375px;
    height: 478px;
    margin: 0 20px 0 0;
  }
}

//  -------------------------------------------------- TEXT -------------------------------------------------------

.modal-card-movie-title {
  color: var(--color-white);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}

.modal-card-about {
  font-weight: 500;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.modal-card-about-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(20 / 12);
  color: var(--color-secondary-text);
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    max-height: 180px;
    overflow: auto;
    
  }

  @media screen and (min-width: 768px) {
    margin-top: 4px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-top: 4px;
    margin-bottom: 24px;
  }
}

// ------------------------------------------------ BUTTONS -------------------------------------------------------

.close-button {
  background: none;
  position: absolute;
  top: 20px;
  right: 16px;
  margin: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
  @media screen and (min-width: 1200px) {
    top: 40px;
    right: 40px;
  }
}

.close-icon {
  stroke: var(--color-secondary-text);
  &:hover,
  &:focus {
    stroke: (--color-orange);
  }
}

.modal-card-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--color-white);
  padding: 12px 24px;
  border-radius: 74px;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--color-orange);

  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: calc(16 / 12);
  }
  &:hover,
  &:focus {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 1 px var(--color-white);
  }
}

//  ------------------------------------------- LIGHT THEME -----------------------------------------------------------

.js-light-theme {
  .modal-film-container {
    z-index: 10;
    background-color: var(--color-white);
    box-shadow: px 1px 14px 4px rgba(0, 0, 0, 0.22);
  }

  .close-icon {
    stroke: var(--color-secondary-black);
  }

  .modal-card-movie-title,
  .modal-card-title,
  .modal-card-about {
    color: var(--color-background);
  }

  .modal-attributes-data-list li,
  .modal-card-about-descr {
    color: var(--color-secondary-black);
  }

  .modal-card-average,
  .modal-card-count {
    background-color: var(--color-secondary-black);
    border-radius: 5px;
    color: var(--color-white);
  }

  .modal-card-btn {
    color: var(--color-background);
    background-color: var(--color-white);
    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--color-background);
      border: 1 px var(--color-background);
    }
  }
}
