.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(66, 114, 47, 1)
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1166%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1167)'%3e%3c/rect%3e%3cpath d='M1440 0L1087.66 0L1440 233.38z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1087.66 0L1440 233.38L1440 384.81L1032.27 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1032.27 0L1440 384.81L1440 480.87L978.5699999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M978.57 0L1440 480.87L1440 528.48L420.45000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L552.09 560L0 540.22z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 540.22L552.09 560L743.04 560L0 337.02000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 337.02L743.04 560L1151.6 560L0 196.96999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 196.97000000000003L1151.6 560L1151.6899999999998 560L0 100.74000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1166'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1167'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 114%2c 47%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e")
    center/cover no-repeat;
}

.section__button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.section__button:hover {
  background-color: #fff;
  color: #000;
}

.section__button:focus-visible {
  outline-color: yellow;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: none;
  display: none;
  // pointer-events: none;
  z-index: 20;
}
.modal__main {
  position: relative;
  background-color: var(--color-background);

  .js-light-theme & {
    background-color: #fff;
  }
  margin: auto;
  color: #000;
  cursor: default;
  border-radius: 16px;
  z-index: 25;
}

@media screen and (max-width: 767px) {
  .modal__main {
    width: 280px;
    height: 289px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__main {
    width: 609px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__main {
    width: 700px;
    height: 400px;
  }
}

.modal__title {
  font-size: 60px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .modal__player {
    position: absolute;
    width: 85%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__player {
    position: absolute;
    width: 85%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal__player {
    position: absolute;
    width: 90%;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__btn {
  background-color: red;
  color: #fff;
  font-size: 26px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  padding: 15px 30px;
}

.modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 20px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color 0.15s ease-in-out;
  fill: black;
  padding: 0;
  text-align: center;
  display: block;
}

.modal__close:focus-visible {
  outline-color: green;
}

.error-message {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;

  /* Background */

  color: #111111;
}

.error-image {
  width: 363px;
  height: 318px;
}
