
    
.cataloge-search-form {
   display: flex;
    flex-wrap: wrap;
    width: 220px;
    margin-bottom: 48px;

}

.cataloge-search-input {
    width: 315px;
    height: 48px;
    margin-right: 12px;
    padding-left:  24px;
    padding-right: 30px;
    
}

.cataloge-search-years {
padding-left: 15px;
padding-right: 15px;
width: 95px;
height: 48px;
margin-right: 20px;

}

.cataloge-btn-delete {
    // display: none;
    width: 18px;
    height: 18px;
    position: absolute;
    border: none;
    left: 220px;
    top: 11%;
    transform: translateY(-50%);
    background-color:  transparent;
    font-size: medium;
    font-weight:  500;
    cursor: pointer;
}

.cataloge-btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 48px;
    height: 48px;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 50%;
}

.warning {
    display: none;
}

@media screen and (min-width: 320px) {
    
    .cataloge-search {
        padding-top: 40px;
        padding-bottom: 16px;
        margin-bottom: 50px;   
    }

    .cataloge-search-form {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: auto;
        width: 280px;
        height: 40px;
      }

.form {
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #B7B7B7;
box-sizing: border-box;
border: 1px solid #595959;
border-radius: 8px;
    }

    .cataloge-search-input {
        width: 173px;
        height: 40px;
        margin-right: 12px;
        padding: 24px;
        padding-right: 30px;
    }

    .cataloge-search-years {
       width:  95px; 
       height:  40px;
       padding-left:  16px;
       padding-right: 15px;

    }

    .cataloge-btn-delete {
        top: 50%;
        transform: translateY(-50%);
        left: 53%;

    }

    .cataloge-btn-search {
        width: 40px;
        height: 40px;
    }

}

@media screen and (min-width: 768px) {
    .cataloge-search-form {
       
        flex-wrap: nowrap;
        margin: auto;
        width: 548px;
        height: 44px;
      }
}

@media screen and (min-width: 1280px) {
    .cataloge-search-form {
      width: 795px;
    height: 48px;
      }
}

