.cataloge-search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .cataloge-search-form {
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 60px;
    margin-bottom: 36px;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .cataloge-search-form {
    margin-top: 80px;
    margin-bottom: 48px;
  }
}

.cataloge-search-input {
  outline: none;
  display: block;
  height: 44px;
  text-align: left;
  margin-bottom: 12px;
  margin-right: 12px;
  background-color: transparent;
  padding: 10px 35px 11px 16px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-family: 'Roboto';
  line-height: 19px;
  color: #b7b7b7;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .cataloge-search-input {
    margin-bottom: 0;
    line-height: 1.14;
    padding: 11px 35px 12px 16px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .cataloge-search-input {
    font-size: 16px;
    line-height: 1.5;
    padding: 13px 35px 14px 24px;
    height: 48px;
    // width: 315px;
  }
}

body.js-light-theme .cataloge-search-input {
  border: 1px solid #595959;
  color: #595959;
}

body.js-light-theme .cataloge-search-years {
  border: 1px solid #595959;
  color: #595959;
}
.cataloge-search-years {
  outline: none;
  display: block;
  width: 95px;
  height: 40px;
  text-align: left;
  margin-right: 12px;
  background-color: transparent;
  padding-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #b7b7b7;
}

@media screen and (min-width: 768px) {
  .cataloge-search-years {
    margin-bottom: 0;
    line-height: 1.14;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .cataloge-search-years {
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
  }
}

.year {
  background-color: #111;
  color: white;
}

body.js-light-theme .year {
  background-color: white;
  color: black;
}

.cataloge-btn-delete {
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  top: 11%;
  left: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
}

@media screen and (min-width: 320px) {
  .cataloge-btn-delete {
    top: 20%;
    left: 65%;
  }
}

@media screen and (min-width: 768px) {
  .cataloge-btn-delete {
    left: 49%;
    top: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .cataloge-btn-delete {
    left: 50%;
    right: 74px;
  }
}

.btn-hide {
  display: none;
}

body.js-light-theme .icon-btn-delete {
  stroke: #282828;
}

body.js-light-theme .icon-btn-delete:hover {
  stroke: #f87719;
}

.icon-btn-delete {
  stroke: #f8f8f8;
}

.icon-btn-delete:hover {
  stroke: #f87719;
}

body.js-light-theme .icon-btn-delete {
  stroke: #282828;
}

body.js-light-theme .icon-btn-delete:hover {
  stroke: #f87719;
}

.cataloge-btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50%;
}

body.js-light-theme .cataloge-btn-search:hover {
  background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
  .cataloge-btn-search {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .cataloge-btn-search {
    width: 48px;
    height: 48px;
  }
}

.cataloge-btn-search:hover {
  background: #fff;
  border: 1px solid #f87719;
}
.icon-search {
  stroke: #fff;
}

body.js-light-theme .icon-search {
  stroke: #111;
}
body.js-light-theme .cataloge-btn-search:hover {
  background: #fff;
}

.cataloge-btn-search:hover .icon-search,
.cataloge-btn-search:focus .icon-search {
  stroke: #f87719;
}

.warning {
  display: none;
}

.warning {
  padding-top: 48px;
  padding-bottom: 40px;
  font-family: 'Roboto Regular';
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .warning {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .warning {
    font-size: 32px;
    line-height: 1.13;
  }
}

.ishidden {
  display: none;
}

.film-card:hover {
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
}

body.js-light-theme .film-card:hover {
  box-shadow: 2px 2px 10px 8px rgba(107, 104, 104, 0.42);
}

// body.js-light-theme .film-card:hover {
//     box-shadow: 1px 1px 14px 4px rgba(255, 155, 5, 0.61);
// }

//курсор миші на картках з фільмами
.film-card {
  border-radius: 5%;
  cursor: url('../images/tablet-logo.svg'), auto;
}
//анімація на картках
.film-card {
  display: inline-block;
  overflow: hidden;
}

.film-card img {
  transition: transform 0.3s ease;
}

.film-card:hover img {
  transform: scale(1.05);
}

.catalog-list-gallery {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 704px;
    column-gap: 16px;
    row-gap: 28px;
  }

  @media (min-width: 1280px) {
    row-gap: 32px;
    width: 1217px;
  }
}

// .film-card:before {
//   content: '';
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(
//     rgba(0, 0, 0, 0) 63.48%,
//     rgba(0, 0, 0, 0.9) 92.16%
//   );
//   display: block;
//   top: 0;
//   left: 0;
//   position: absolute;
// }

// ПАГІНАЦІЯ

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;

  .tui-page-btn {
    order: 3;
    width: 24px;
    margin-left: 4px;
    margin-right: 4px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    line-height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 50%;

    &:hover {
      border: none;
      background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
      color: #ffffff;
    }
    &.tui-is-selected {
      border: none;
      font-weight: 400;
      color: #f8f8f8;
      background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    }
    @media screen and (min-width: 768px) {
      margin-left: 8px;
      margin-right: 8px;

      width: 32px;
      height: 32px;
      font-size: 12px;
      line-height: 32px;
    }
    @media screen and (min-width: 1280px) {
      width: 40px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
    }

    &.custom-class-prev {
      order: 0;
      &.tui-prev-is-ellip {
        order: 2;
      }
    }
    &.custom-class-first {
      order: 1;
    }
    // tui-next-is-ellip custom-class-next tui-last-child
    &.custom-class-last {
      order: 5;
    }

    &.custom-class-next {
      order: 6;
      &.tui-next-is-ellip {
        order: 4;
      }
    }
  }
}

.js-light-theme {
  .tui-pagination {
    .tui-page-btn {
      color: var(--color-grey-white-theme);
      border-color: var(--color-grey-white-theme);
      &:hover {
        color: var(--color-white);
      }
      &.tui-is-selected {
        // border: none;
        color: var(--color-white);
        // background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
      }
    }
  }
}

// .tui-pagination .tui-page-btn {
//   position: relative;
//   width: 40px;
//   height: 40px;
//   padding: 14px 0 0px;
//   margin-left: 0;
//   margin-right: 16px;
//   color: #f8f8f8;
//   font-size: 12px;
//   font-weight: normal;
//   line-height: 1;
//   text-decoration: none;
//   vertical-align: middle;
//   border: 1px solid #f8f8f8;
//   border-radius: 50%;
// }

// body.js-light-theme .tui-pagination .tui-page-btn {
//   border: 1px solid #f87719;
//   color: #282828;
// }

// .tui-pagination .tui-is-selected,
// .tui-pagination strong {
//   color: #f8f8f8;
//   background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
//   border-radius: 50%;
//   cursor: default;
//   border: none;
// }

// .tui-pagination .tui-page-btn:hover {
//   background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
//   border: none;
// }

// body.js-light-theme .tui-pagination .tui-page-btn:hover {
//   color: #f8f8f8;
// }

.tui-pagination .tui-page-btn.tui-prev,
.tui-pagination .tui-page-btn.tui-next {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    margin-left: 4px;
    margin-right: 4px;
    width: 28px;
    height: 28px;
  }
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23595959' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.938 6.125 10.063 14l7.874 7.875'/%3E%3C/svg%3E");

  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23B7B7B7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.938 6.125 10.063 14l7.874 7.875'/%3E%3C/svg%3E");
  border: none;
  // &.tui-is-disabled {
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23595959' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.938 6.125 10.063 14l7.874 7.875'/%3E%3C/svg%3E");
  // }
}

.js-light-theme {
  .tui-pagination {
    .tui-pagination .tui-prev,
    .tui-pagination .tui-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23B7B7B7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.938 6.125 10.063 14l7.874 7.875'/%3E%3C/svg%3E");
      // &.tui-is-disabled {
      //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23595959' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.938 6.125 10.063 14l7.874 7.875'/%3E%3C/svg%3E");
      // }
    }
  }
}

.tui-pagination .tui-next {
  transform: rotateY(180deg);
}

// .tui-pagination .tui-ico-first {
//   display: none;
//   background: none;
//   border: none;
// }

// .tui-pagination .tui-first {
//   display: none;
// }

// .tui-pagination .tui-ico-last {
//   display: none;
//   background: none;
//   border: none;
// }

// .tui-pagination .tui-last {
//   display: none;
// }

// .tui-page-btn {
//   border: 1px solid #b7b7b7;
//   border-radius: 50%;
//   background-color: transparent;
// }

// .tui-page-btn:hover {
//   border: none;
//   background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
//   color: #ffffff;
// }

// .tui-ico-last::after {
//   content: '999';
//   display: inline-block;
//   width: 20px;
//   height: 20px;
// }
// .tui-pagination {
//   display: flex;
// }

// .tui-page-btn {
//   order: 3;
// }

// .custom-class-first {
//   //   order: 2;
//   color: red;
// }

// .custom-class-prev {
//   //   order: 1;
//   color: green;
// }
// .custom-class-last {
//   //   order: 5;
//   background-color: red;
// }

// .custom-class-next {
//   //   order: 6;
//   background: green;
// }
// // class="tui-page-btn tui-is-disabled tui-first custom-class-first"
// // tui-page-btn tui-is-disabled tui-prev custom-class-prev
