.totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 80px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--);
  border-radius: 60px;
  background: var(--color-linear-one);
  color: var(--color-white);
}
