@import './common';
@import './fivestar';

.weekly-wrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 40px;
  }

  .js-light-theme {
   .weekly-title {
     color: var(--color-background);
   }
 }

  .weekly-gallery{
   margin-top: 24px;
  }

  .weekly-gallery>.film-card:not(:first-child){
   display: none;
}

.star,
  .star-half,
  .star-outline{
   width: 14px;
   height: 14px;
  }

   .weekly-title{
font-weight: 500;
font-size: 16px;
line-height: 1.9;
text-transform: uppercase;
   }

   .weekly-link{
      color: var(--color-orange);
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.9;
   }

   .weekly-link:hover,
   .weekly-link:focus{
      transform: scale(1.1);
   }



@media screen and (min-width: 768px){

   .weekly-wrap{
      padding-top: 52px;
     }

   .weekly-title{
      font-size: 24px;
line-height: 1.17;
   }

   .weekly-link{
      font-size: 24px;
      line-height: 1.17;
   }

   .weekly-list{
      display: flex;
   }

   .weekly-gallery>.film-card:not(:first-child){
      display: block;
   }

   .weekly-gallery{
      display: flex;
      gap: 16px;
   }

  .star,
  .star-half,
  .star-outline{
   width: 10px;
   height: 10px;
  }

}

@media screen and (min-width: 1280px){

   .weekly-wrap{
      padding-top: 80px;
     }

   .weekly-title{
      font-size: 28px;
      line-height: 1.14;
   }

   .weekly-link{
      font-size: 28px;
      line-height: 1.18;

   }

   .weekly-gallery{
      margin-top: 28px;
   }

   .star,
  .star-half,
  .star-outline{
   width: 18px;
   height: 18px;
  }

}