@import './common';
@import './fivestar';

.film-card:not(:first-child){
   display: none;
}

.star,
  .star-half,
  .star-outline{
   width: 14px;
   height: 14px;
  }

@media screen and (min-width: 320px){

   .weekly-title{
font-weight: 500;
font-size: 16px;
line-height: 1.9;
text-transform: uppercase;
   }

   .weekly-link{
      color: var(--color-orange);
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.9;
   }

   .weekly-wrap{
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
   }

   

}

@media screen and (min-width: 768px){

   .weekly-title{
      font-size: 24px;
line-height: 1.17;
   }

   .weekly-link{
      font-size: 24px;
      line-height: 1.17;
   }

   .weekly-list{
      display: flex;
   }

   .film-card:not(:first-child){
      display: block;
   }

   .weekly-gallery{
      display: flex;
      gap: 16px;
   }

  .star,
  .star-half,
  .star-outline{
   width: 10px;
   height: 10px;
  }


}

@media screen and (min-width: 1280px){

   .weekly-wrap{
      margin-bottom: 28px;
   }

   .weekly-title{
      font-size: 28px;
line-height: 1.14;
   }

   .weekly-link{
      font-size: 28px;
      line-height: 1.18;

   }

   .star,
  .star-half,
  .star-outline{
   width: 18px;
   height: 18px;
  }

}