@import './fonts';
@import './common';
@import './header';
@import './newhero';

@import './weekly';
@import './upcoming';

@import './footer';
@import './totop';
@import './modal-poster';
@import './modal-trailer';
@import './ourteam';

@import './film-card';
