<section class="library-hero">
  <div class="container">
        
        <picture
          ><source
            media="(min-width: 1280px )"
            srcset="
              ./images/cinema-hall-d.webp    1x,
              ./images/cinema-hall-d@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/cinema-hall-d.jpg    1x,
              ./images/cinema-hall-d@2x.jpg 2x
            " />
          <source
            media="(min-width:768px )"
            srcset="
              ./images/cinema-hall-t.webp    1x,
              ./images/cinema-hall-t@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width:768px )"
            srcset="
              ./images/cinema-hall-t.jpg    1x,
              ./images/cinema-hall-t@2x.jpg 2x
            " />
          <source
            srcset="
              ./images/cinema-hall-m.webp    1x,
              ./images/cinema-hall-m@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width:768px )"
            srcset="
              ./images/cinema-hall-m.jpg    1x,
              ./images/cinema-hall-m@2x.jpg 2x
            " />
          <img
            src="./images/cinema-hall-m.jpg"
            alt="cinema hall"
            class="library-hero-image"
        /></picture>
        <div class="library-hero-text-wrapper">
            <h2 class="library-hero-title">Create Your Dream Cinema</h2>
            <p class="library-hero-text">
              Is a guide to designing a personalized movie theater experience with the
              right equipment, customized decor, and favorite films. This guide helps
              you bring the cinema experience into your own home with cozy seating, dim
              lighting, and movie theater snacks.
            </p>
        </div>
</section>
