<section class="liblist">
  <div class="container lib-container">
    <h2 class="visually-hidden-title">My library</h2>
    <div class="js-lib-wrap-select">
      <select
        class="lib-select js-lib-select lib-selector"
        name="filter"
        id="library-filter"
      >
        <option class="lib-option lib-spec lib-add" data-placeholder="true">
          Genre
        </option>
        <option class="lib-option lib-spec" value="all">All</option>
      </select>
    </div>
    <div class="lib-relative">
      <div class="js-lib-content-wrap lib-wrap-list">
        <ul class="lib-list js-liblist lib-height"></ul>
      </div>
      <div class="lib-wrap-btn">
        <button type="button" class="js-load-more lib-load-more">
          Load more
        </button>
      </div>
    </div>
  </div>
</section>
