<section class="liblist">
  <div class="container lib-container">
    <div class="js-lib-wrap-select">
      <select class="lib-select js-lib-select" name="" id="library-filter">
        <option data-placeholder="true"></option>
        <option class="lib-option" value="all">All</option>
      </select>
    </div>
    <div class="js-lib-content-wrap lib-wrap-list">
      <ul class="lib-list js-liblist lib-height"></ul>
    </div>
    <button type="button" class="js-load-more lib-load-more">Load more</button>
  </div>
</section>
<!-- style="background-color: black" -->
