<section class="section">
  <button class="section__button section__button1">Открыть</button>
</section>

<div class="modal modal1">
  <!-- <div class="modal__main">
    <div class="modal__container">
      <div id="youtube-player" class="modal__player"></div>
    </div>

    <button class="modal__close">&#10006;</button>
  </div> -->
  <div class="modal__error">
    <p>
      OOPS... <br />
      We are very sorry! <br />
      But we couldn’t find the trailer.
    </p>
    <img src="" alt="" />
  </div>
</div>
