<section class="newhero">
  <div class="container hero-container">
    <div class="newhero-render-wrapper">
      <picture class="newhero-image"
        ><source
          media="(min-width: 1280px )"
          srcset="
            ./images/cinema-visitors-d.webp    1x,
            ./images/cinema-visitors-d@2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width: 1280px )"
          srcset="
            ./images/cinema-visitors-d.jpg    1x,
            ./images/cinema-visitors-d@2x.jpg 2x
          " />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/cinema-visitors-t.webp    1x,
            ./images/cinema-visitors-t@2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/cinema-visitors-t.jpg    1x,
            ./images/cinema-visitors-t@2x.jpg 2x
          " />
        <source
          srcset="
            ./images/cinema-visitors-m.webp    1x,
            ./images/cinema-visitors-m@2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/cinema-visitors-m.jpg    1x,
            ./images/cinema-visitors-m@2x.jpg 2x
          " />
        <img
          src="./images/cinema-visitors-m.jpg"
          alt="cinema visitors"
          class="library-hero-image"
      /></picture>

      <div class="new-hero-text-wrapper">
        <h1 class="newhero-title">Let’s Make Your Own Cinema</h1>
        <p class="newhero-subtitle">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose
          your films, and stock up on snacks for the full experience.
        </p>
        <div class="newhero-wrap-btn">
          <a class="newhero-btn" href="./catalog.html">Get Started</a>
        </div>
      </div>
    </div>
    <div class="newh-gradient"></div>
  </div>
</section>
