<div class="backdrop-team-modal" data-team-modal>
  <div class="team-modal">
    <h2 class="team-modal-title">Our Team</h2>
    <ul class="team-modal-list">
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Team Lead</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Scrum</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-modal-item">
        <div class="team-modal-item-img"></div>
        <h3 class="team-modal-item-title">Name</h3>
        <p class="team-modal-item-descr">Developer</p>
        <ul class="team-modal-soc-list">
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/linkedin.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-modal-soc-item">
            <a href="" class="team-modal-soc-link">
              <svg class="team-modal-soc-icon" width="40" height="40">
                <use href="images/sprite/github.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
