<section>
  <div class="container upcoming">
    <h2 class="upcoming-title">upcoming this month</h2>
    <div class="js-upcoming-wrapper upcoming-wrapper"></div>
  </div>
</section>

<img
  srcset="
    https:/image.tmdb.org/t/p/w342/${movie.backdrop_path}      342w,
    https:/image.tmdb.org/t/p/w500/${movie.backdrop_path}      500w,
    https:/image.tmdb.org/t/p/w780/${movie.backdrop_path}      780w,
    https:/image.tmdb.org/t/p/original/${movie.backdrop_path} 2000w
  "
  sizes="(min-width: 320px) 280px,
        (min-width: 768px) 704px,
        (min-width: 1280px) 805px,
          "
  src="https:/image.tmdb.org/t/p/original/${movie.backdrop_path}"
  alt="${movie.title}"
  class="upcoming-image"
/>
